* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  /* color: var(--text-color); */
}

:root {
  --text-color: #000000;
  --paragraph-color: #aaa8a8;
  --blue-color: #007bff;
  --background-color: #ffffff;
  --border-color: #dcd9d9;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-weight: bold;
}

html {
  scroll-behavior: smooth;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000000;
  font-weight: 600;
  line-height: 1.3;

}

hr {
  border: 0;
  height: 1px;
  background: var(--border-color);
  margin: 10px 0;
  width: 100%;
  box-sizing: border-box;
}

/* Header Styles */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 50px;
  z-index: 1000;
  background-color: black;
  backdrop-filter: blur(5px);
}



.logo {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: var(--paragraph-color);
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover,
.nav-links .active {
  color: white;
  border-bottom: 2px solid white;
}


/* Interface Section*/
.interface {
  position: relative;
  height: 80vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/urban-life-architecture-city-building.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 50px;
  margin-top: 60px;
}

/* Indicators */
.carousel {
  display: flex;
  gap: 50px;
  color: #ccc;
}

.indicator {
  display: flex;
  align-items: center;
  gap: 15px;
  opacity: 0.6;
  transition: 0.3s;
}

.indicator.active {
  opacity: 1;
  font-weight: bold;
  color: white;
}

.circle {
  border: 3px solid gray;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  font-size: 18px;
  font-weight: bold;
}

.indicator.active .circle {
  border-color: var(--blue-color);
  color: var(--blue-color);
}

/* =====Section Cards==== */

/* General Body Styles */
/* body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
} */

.container {
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
}

.main-content {
  display: flex;
  gap: 30px;
}

.dont-miss-section {
  flex: 2;
  padding: 20px;
}

.about-world-section {
  flex: 1;
  padding: 20px;
  border-left: 2px solid #dcd9d9;
  /* border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); */
}

/* Tabs Style*/
.dont-miss-section .tabs .first {
  font-size: 16px;
  color: #333;
}

.tabs ul {
  font-size: 12px;
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #eee;
}

.tabs ul li {
  margin-right: 20px;
  margin-bottom: 10px;
}

.tabs ul li a {
  text-decoration: none;
  color: var(--paragraph-color);
  padding-bottom: 10px;
  display: block;
  transition: color 0.3s ease;
}

.tabs ul li a.active {
  border-bottom: 2px solid var(--blue-color);
}

.tabs ul li a:hover {
  color: var(--blue-color);
  border-bottom: 2px solid var(--blue-color);
}

/* Card Container Styling */
.card-container {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.left-card {
  flex: 1;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  position: relative;
  max-width: 400px;
}

.left-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.left-card .category-tag {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: var(--background-color);
  color: var(--blue-color);
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 12px;
  font-weight: bold;
}

.left-card h3 {
  font-size: 16px;
  margin: 10px;
  color: #333;
  line-height: 1.3;
  overflow: hidden;
  text-overflow: ellipsis;
  /* display: -webkit-box; */
  /* -webkit-line-clamp: 2; */
  /* -webkit-box-orient: vertical; */
}

.left-card p {
  font-size: 12px;
  color: var(--paragraph-color);
  margin: 0 10px 10px;
  display: none;
}

.left-card .author-date {
  font-size: 10px;
  color: var(--paragraph-color);
  display: block;
  margin: 15px 10px;
}

.right-cards {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.top-stories-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.top-story-item {
  display: flex;
  align-items: center;
  background-color: var(--background-color);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  width: 100%;
  max-height: 150px;
}

.top-story-item img {
  width: 100px;
  height: 100%;
  object-fit: cover;
  border-radius: 5px 0 0 5px;
}

.top-story-text h4 {
  font-size: 12px;
  margin: 10px;
  color: var(--text-color);
  line-height: 1.3;
  overflow: hidden;
  /* text-overflow: ellipsis; */
  /* display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; */
}

.para {
  font-size: 10px;
  color: var(--paragraph-color);
  display: block;
  margin: 0 10px 10px;
}

.author-link {
  color: var(--paragraph-color);
}

.author-link:hover {
  color: var(--blue-color);
}


/* About World Section */

.about-world-section h2,
.about-world-section h3 {
  font-size: 20px;
  /* margin-bottom: 15px; */
  color: #333;
}

.about-world-section p {
  font-size: 15px;
  line-height: 1.6;
  color: #555;
  margin-bottom: 30px;
}



.social-icons {
  display: flex;
  justify-content: space-between;

}

.social-icons a {
  color: var(--paragraph-color);
  font-size: 16px;
  border-radius: 50%;
  border: 1px solid var(--border-color);
  padding: 10px;
}

.social-icons a:hover {
  color: var(--blue-color);
}

.control-icon {
  margin: 35px 0;
  font-size: 26px;
  color: var(--border-color);
  overflow: hidden;

}

.control-icon .left,
.control-icon .right {
  border-radius: 50%;
  padding: 5px;
  border: 2px solid var(--border-color);

  &:hover {
    color: var(--background-color);
    background-color: var(--blue-color);
  }

}

.left-card .top-story-item {
  margin: 20px 0;

}



             /* 3 horizontal Cards */
  .hor-card {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
    align-items:center;
}

.hor-card .card {
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background-image: url('../images/hor-card.jpg'); 
    background-size: cover; 
    background-position: center; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    position: relative;
    min-height: 200px; 
    &.seconed{
      background-image: url('../images/hor-card2.jpg'); 
    }
    & h3 {
      font-size: 1em;
      margin: 10px;
      color: var(--background-color);
      z-index: 2;
      position: relative;
  }
  & .author-date {
    font-size: 0.9em;
    color: #858585;
    margin: 20px 0;
    z-index: 2;
    position: relative;
}
}

.hor-card .card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background-color: rgba(128, 128, 128, 0.2); 
    z-index: 1;
}

.hor-card .category-tag {
    display: inline-block;
    background-color: #fff;
    padding: 5px 5px;
    border-radius: 3px;
    margin: 10px;
    color: var(--blue-color);
    position: relative;
    z-index: 2;
    font-size:12px;
}

